@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.btn-primary {
    color: black;
    background-color: orange;
    border-color: lightgray;
}
.card{
    padding: 14px;
    border-color: lightgray;
}
.nombres{
    font-weight: bolder;
    font-size: x-large;
}
hr.linea{
    border-top: 1px black;
}
#columnatarjeta{
    padding: 14px;
}
#zonagris {
    background-color: lightgray;
    border-color: gray;
}
#carrito {
    height: 50px;
    width: 50px;
}
#categoria-actual-movil{
    font-weight: bold;
}
#btn-dropdown{
    background-color: orange;
    border-color: orange;
}
#barra{
    background-color: orange;
    padding: 14px;
}
#items {
    vertical-align: middle;
}
#titulo {
    font-family: Satisfy;
}
#contenedor-categorias {
    font-size: 11px;
    color: white;
    background-color: #333a40;
    padding: 14px;
}
